<div id="events">
  @for (event of eventList; track event.id) {
     <div class="event" [routerLink]="['/events', event.id]">
       <div class="topEvent">
         <p class="eventName">{{ event.label}}</p>
         <p class="beginDate">From {{event.startDate}}</p>
       </div>
       <div class="bottomEvent">
         <p class="artists">
         @if (event.artists.length > 0) {
           Featuring {{event.artists.length}}
           @if (event.artists.length > 1 ) {
             artists
            } @else {
              artist
            }
           including: {{event.artists.at(0)?.label}}
         }
         </p>
         <p class="endDate">To {{event.endDate}}</p>
       </div>
     </div>
  }
</div>
<app-pagination-bar [currentPage]="pageNumber" (changePageEvent)="changePage($event)" [totalPages]="totalPages"></app-pagination-bar>
