<div id="events">
  @for (event of eventList; track event.id) {
     <div id="event">
       <div id="topEvent">
         <p id="eventName">{{ event.label}}</p>
         <p id="beginDate">From {{event.startDate}}</p>
       </div>
       <div id="bottomEvent">
         <p id="artists">
         @if (event.artists.length > 0) {
           Featuring {{event.artists.length}}
           @if (event.artists.length > 1 ) {
             artists
            } @else {
              artist
            }
           including: {{event.artists.at(0)?.label}}
         }
         </p>
         <p id="endDate">To {{event.endDate}}</p>
       </div>
     </div>
   }
</div>
<app-pagination-bar [currentPage]="pageNumber" (changePageEvent)="changePage($event)" [totalPages]="totalPages"></app-pagination-bar>
