#event {
  border: 1px solid black;
  margin-inline: 2rem;
  margin-top: 1.5rem;
}

#topEvent, #bottomEvent {
  padding-inline: 1rem;
  display: flex;
  justify-content: space-between;
}

#beginDate {
  text-align: right;
}

#endDate {
  text-align: right;
}

#events {
  display: grid;
  grid-template-rows: repeat(5, min-content);
  grid-auto-flow: column;
}
