.artist {
  border: 1px solid #E07B39;
  margin-inline: 2rem;
  border-radius: 30px;
  margin-top: 0.75rem;
  background-color: #F7D5A1;
}

.topArtist, .bottomArtist {
  padding-inline: 1rem;
  display: flex;
  justify-content: space-between;
}

#artists {
  display: grid;
  grid-template-rows: repeat(5, min-content);
  grid-auto-flow: column;
}

.artistName {
  font-size: 1.25rem;
  font-weight: bold;
}

.events {
  font-size: 1rem;
  font-weight: bold;
}
