#paginationBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: #6E5B39;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

#paginationBar button {
  background-color: #FFEBCC;
  border: none;
  padding: 0.6rem 1rem;
  margin: 0 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#paginationBar button:disabled {
  background-color: #FFEBCC;
  cursor: not-allowed;
  box-shadow: none;
}

#paginationBar button:hover:not(:disabled) {
  background-color: #E07B39;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

#first, #last {
  margin-inline: 1rem;
  font-weight: bold;
}

#pageInfo {
  font-size: 1rem;
  color: white;
}
