/*
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


#event {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
*/

#container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  overflow-y: auto;
  width: 100%;
}

#event {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem;
  box-sizing: border-box;
  flex: 1;
  width: 100%;
}

#label {
  align-self: flex-start;
  font-size: 2rem;
  color: #FF7E5F;
  font-weight: bold;
}

#beginDate {
  align-self: flex-end;
  font-size: 1.5rem;
  color: #FEB47B;
}

#endDate {
  align-self: flex-end;
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #FEB47B;
}

#artists {
  margin-top: 2rem;
  align-self: flex-start;
  font-size: 1.2rem;
  color: #F5AB99;
}

#delete {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

#topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#trash {
  background: none;
  border: none;
  cursor: pointer;
  &img {
    filter: invert(1);
  }
}

